<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_FILE:-${logging.file.name:-logs/app.log}}</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>



<!--<appender name="S3" class="com.bluedenim.logback.s3.S3Appender">-->
<!--<accessKey>YOUR_AWS_ACCESS_KEY</accessKey>-->
<!--<secretKey>YOUR_AWS_SECRET_KEY</secretKey>-->
<!--<region>us-east-1</region>-->
<!--<bucketName>your-s3-bucket</bucketName>-->
<!--<fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--</appender>-->

<!--<root level="INFO">-->
<!--<appender-ref ref="S3"/>-->
<!--</root>-->